<!DOCTYPE html>
<html>
  <head>
    <title>BandApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

  </head>

  <body>
    <header>
      <div>
      <p id="title"><%= link_to 'MUSIC SPACE', welcome_path %></p>
      <nav>
      <ul>
        <li class="nav"><%= link_to 'NEW BAND/ARTIST', new_band_path %></li>
        <li class="nav"><%= link_to 'ALL SONGS', songs_path %></li>
        <li class="nav"><%= link_to 'ALL BANDS/ARTISTS', bands_path %></li>
      </ul>
    </nav>
  </div>
    </header>
    <%= yield %>
  </body>
</html>
